<!-- CLASE 1
<h1>Ejemplo:</h1>
<app-mi-primer-componente></app-mi-primer-componente>
<app-segundo-componente></app-segundo-componente> 

CLASE 2
<h2>Clase 2:</h2>
<br>
<app-interpolacion></app-interpolacion>

CASE 5:
<app-abuelo></app-abuelo>

CLASE 6:
<app-formularios></app-formularios>

CLASE 7:
<app-ejemplos-material></app-ejemplos-material>

Clase 8:
<app-pipes></app-pipes>

Clase 9
<app-servicios></app-servicios>
<app-lista-alumnos></app-lista-alumnos>-->

Clase 10
<app-observables></app-observables>